#################
# a quick example
#################

# Manifold or grid Dimension
Dimension = 3;

# point on manifold shown by:
Point = ijk;

# C macors to declare fields (various examples)
C_macro1 =double *CPI_name = db1[i_CPI_head+CPI_index];;
C_macro2 =double *CPI_name = db2[N+CPI_index];;
C_macro3 =double *CPI_name = db2[N+3+CPI_index];;


`#include "myheader.h"`
``
`/* quick */`
`void quick_example(int M,int N,double **db1,double **db2)`
`{`
``
`  int i_M = M;`
``
Declare = 
{
 (obj = field, name = M, rank = DD, C_macro1);
 (obj = field, name = u, rank = U , C_macro2);
 (obj = field, name = r, rank = D , C_macro3);
}
Symm[M(i,j) = M(j,i)];

``
`  for(int ijk = 0; ijk < N*M; ++ijk)`
`  {`
``
	v(-i) = M(-i,-j)*u(j);

        r == v;
`  } /* end of for */`
`}`


